.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav a {
  font-size: 20px;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 18px;
  padding-bottom: 18px;
}

.navbar-bg {
  background-color: white;
  height: 70px;
  padding: 0;
}


.container-height .contentpadding {
  padding: 0;
}

.navbar-light .navbar-nav a:hover {
  background-color: #5f9ea030;
}

.navbar-bg .navbar-brand {
  margin-right: 0;
  padding: 5px 10px;
}

img.brandlogo {
  top: 5px !important;
  margin: 0 !important;
  object-fit: contain !important;
}

.container .navbar-light .navbar-nav a.activeNav {
  color: white;
  background-color: cadetblue;
}

.container-height .zero-margin {
  margin: 0;
}

.bottomMargin {
  margin: 0 0 5px 0;
}

ul li {
  margin-bottom: 5px;
}

* {
  font-family: sans-serif;
}

hr {
  height: 2px;
}

.mobile-container {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 10px;
  margin-bottom: 20px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 95%;
  padding: 20px;
  text-align: center;
  justify-content: center;
  height: 95%;
  align-items: center;
  display: flex;
}

.projectCard {
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .navbar-bg {
    background-color: white;
    height: auto !important;
    padding: 0;
  }

  .container-height .contentpadding {
    padding: 20px 10px;
  }

  .projectCard {
    margin: 0;
  }
}


.repo-card {
  min-width: 120px;
  margin-top: 10px;
  background-color: whitesmoke;
  border-radius: 20px;
}

.projectCard-body {
  font-size: 12px;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projectCard-text {
  font-size: 12px;
  margin-top: 8px;
}

.repo-header {
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
}