.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .container-height {
  margin: 0 50px;
  height: 500px;
}

.navbar-nav a {
  font-size: 24px;
  padding: 18px 40px;
}

.navbar-bg {
  background-color: white;
  height: 70px;
  margin: 0 50px;
  padding: 0;
}

.zeropadding {
  padding: 0;
}

.navbar-light .navbar-nav  a:hover {
  background-color: #5f9ea030;
}

.imgContain {
  height: 90% !important;
  width: 90% !important;
  max-height: 90% !important;
  max-width: 90% !important;
  min-height: 90% !important;
  min-width: 90% !important;
  margin: 10px !important;
}

img.brandlogo {
  top: 5px !important;
  margin: 0 !important;
  object-fit: contain !important;
}

.container .navbar-light .navbar-nav  a.activeNav {
  color: white;
  background-color: cadetblue;
}

.zeroMargin {
  margin: 0;
}

ul li {
  margin-bottom: 5px;
}